body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Space Mono', monospace;
}

.w3-row-padding .w3-col {
    margin-bottom: 16px;
}

.bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}
w3-content img.w3-image{
    border: 5px solid lightgray;
}
code{
    background-color:  #f0f0f1;
}
a.word-break, 
a.link{
    word-break: break-all;
}
a:hover{
    text-decoration: underline;
    font-weight: bold;
}
#content a::after{
    content: "\f08e";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 0.8em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 6px;
    opacity: 0.4;
}
a.w3-button:hover{
    color: inherit;
    background: inherit;
}
.w3-wide {
    letter-spacing: 1px;
}
.w3-modal-content img{
    max-width: 100%;
}
ul li{
    text-align: left;
}
*{
    letter-spacing: -1px;
}
.item .w3-card{
    height: 100%;
}