body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Space Mono', monospace;
}

.w3-row-padding .w3-col {
    margin-bottom: 16px;
}

.bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}
img.w3-image{
    border: 5px solid lightgray;
}
.w3-content a:hover{
    text-decoration: underline;
    font-weight: bold;
}
.w3-content a::after{
    content: "\f08e";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 0.8em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 6px;
    opacity: 0.4;
}
.w3-wide {
    letter-spacing: 1px;
}